<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <!-- https://github.com/coverlet-coverage/coverlet/blob/master/Documentation/VSTestIntegration.md#advanced-options-supported-via-runsettings -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>opencover</Format>
          <Exclude>
            [Microsoft.*]*,
            [NuGet.Core]*,
            [System.Spatial]*,
            [chocolatey.tests*]*,
            [chocolatey]*adapters.*,
            [chocolatey]*infrastructure.app.configuration.*Setting*,
            [chocolatey]*app.configuration.*Configuration,
            [chocolatey]*app.domain.*,
            [chocolatey]*app.messages.*,
            [chocolatey]*.registration.*,
            [chocolatey]*app.templates.*,
            [chocolatey]*commandline.Option*,
            [chocolatey]*licensing.*,
            [chocolatey]*infrastructure.results.*
          </Exclude>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <SkipAutoProps>true</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
